
.bg-gray{
    background-color: #f6f4f5;
}
.parttitle h2{
    color: #2b376f !important;
    font-size: 1.5rem;
}
.parttitle img{
    width:300px;
}
/* navbar */
.bg-blue{
    background-color:rgba(76,90,119,0.6);
    border-bottom: 2px solid rgba(195, 200, 211, 0.2);
    top: 0;
    width: 100%;
    z-index: 3;
}
.bg-blue2{
    background-color:#a6acba ;
    padding: 1px;
}
.bg-blue3{
    background-color:#7b8396 ;
    padding: 2px;
}
.logo div{
    width: 80px;
}
.navbar-brand{
    font-size: 1.5rem;
    color: #fff !important;
}
.navbar-desc{
    font-size: 0.8rem;
    color: #fff !important;
    text-decoration: none;
}
.nav-item{
    border-bottom:2px solid transparent;
    transition: all 0.4s;
}
.nav-item:hover{
    border-bottom:2px solid #f3b821;
}
.nav-item:hover a{
    color: #f3b821 !important;
}
.nav-item a {
    /* color: #414b54 !important; */
    color: #fff!important;
    font-size: 0.9rem;
}
/* header */
.header .input-group{
    direction: ltr;
    /* border:2px solid rgba(76,90,119,0.2); */
    background-color:rgba(255, 255, 255,1);
    border-radius: 5px;
}
input{
    color: #000 !important;
}
input:focus{
    box-shadow: 0 0 0 transparent !important;
}
input:focus::placeholder{
    color: transparent;
}
.bg-blur{
    background-color:rgba(32, 43, 69,0.3);
    padding:10px 100px 300px 100px;
    bottom: 0 !important;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.header .input-group > span > h5{
    color: #a6abc8;
    border-left:1px solid #e7edfa ;
    font-size: 0.7rem;
}
.header .form-control{
    border: 0px !important;
    font-size: 1rem;
    color: #d5d8e5;

}
.header .input-group-text {
    opacity: 0.4;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
}
.header .input-group-text:hover {
    opacity: 0.2;
    cursor: pointer;
}
.header .input-group-text > img{
    width: 23px !important;
}
.header > div:last-child{
    bottom: -15%;
    z-index:1;
}
.header .top-item > div:hover{
    /* background-color:#2a3354 !important ; */
    box-shadow: 0px 0px 15px #a5a7ad ;
    transform: scale(1.05);
}
.header .top-item > div{
    background-color:rgb(255, 255, 255) !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: all 0.3s;
}
.header .top-item div div{
    box-shadow: 0px 2px 10px rgb(226, 225, 225) !important;
    background-color: #fff;
    height: 100px;
}
.header h2{
    color: #596277 !important;
    font-size: 1.1rem !important;
}
.header > div:last-child h2{
    line-height: 30px;
}
.header > div:last-child img{
    width: 100px;
    /* opacity:0.8; */
}
/* services */

.serviceitem{
    cursor: pointer;
}

.serviceitem div{
    width: 80px;
    height: 80px;
    box-shadow: 0 0 5px rgb(243, 243, 243);
    transition: all 0.3s;
    margin-top:20px

}
.serviceitem:hover div{
    box-shadow: 0 0 10px rgb(226, 226, 226);
}
.serviceitem div img{
    opacity: 0.7;
    width: 40px;
    transition: all 0.3s;
}
.serviceitem:hover div img{
    opacity: 1;
    transform: scale(1.1) !important;
}
.serviceitem h2{
    font-size: 0.75rem;
    color: #797e92;
    font-weight: bold;
}
.serviceitem:hover h2{
    color: #0b1538;
}
/* top service */
.tops{
    /* height:350px; */
    background-image: url('bg-top1.jpg') !important;
    background-size: contain;
    background-color: #f3b821;
  }
.topitem div{
    /* background-color: rgb(252, 252, 252) !important; */
    background-color: #fff;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 10px;
}
/* .topitem div:hover{
    background-color:#2a3354 !important ;
    box-shadow: 0px 0px 15px #636777 ;
    transform: scale(1.05);
} */
.topitem h3{
    color: #0a1b2f;
    font-size: 1rem;
}
.topitem p{
    color: #a2a2a2;
    font-size: 0.6rem;
    line-height: 20px;
}
.topitem {
    opacity:0.8;
    transition: all 0.3s;
}
.topitem:hover{
    opacity: 1;
}
.topitem img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.b-shadow{
    box-shadow: 0px 0px 5px #bcbec9 ;
}
.like img{
    width: 15px;
}
.like h5{
    font-size:0.8rem;
    color: #3b4264;
}
/* product */
.productitem{
    transition:all 0.5s;
    cursor: pointer;
    box-shadow: 0px 0px 10px #cbcdd3 ;
    border-radius: 10px;
    overflow: hidden;
}
.productitem:hover{
    box-shadow: 0px 0px 10px #cbcdd3 ;
}
.productitem > div:first-child{
    overflow: hidden;

}
.productitem div:nth-child(2){
    transition: all 0.3s;
}
.productitem:hover div:nth-child(2){
    background-color:#2b376f !important;
    color: #fff;
}
.productitem:hover h3 {
    color: #fff;
}
.productitem:hover p {
    color: rgb(241, 239, 239);
}
.productitem > img{
    transition: all 0.7s;
    width: 400px;
    top: 10% !important;
    z-index: 1;
    right: 0;
}
.productitem:hover > img{
    transform: scale(1.03);
}
.productitem:hover .like h5{
    color: #fff !important;
}
.productitem  h3{
    font-size: 1rem;
    border-top:1px solid #717280;
    color: #2b376f;


}
.productitem  p{
    font-size: 0.6rem;
    line-height: 20px;
    color: #868794;
}
/* end of product */
/* comment */

.comment > div:first-child{
    background-color:#4d4f79 ;
    box-shadow: 0 0 15px rgb(199, 198, 198);
    padding-right: 80px !important;
    border-radius: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.comment > div > img{
    border: 2px solid #ffebb9;
    width: 100px;
    height:auto;
    right:-7%;

}
.comment > div:last-child:hover{
    background-color:#f4b61c ;
}
.comment  h4 {
    font-size: 0.8rem !important;
    color: #6f719c;
}
.comment  h2 {
    font-size: 1rem !important;
    color: #4d4f79;
}

.comment  h3 {
    font-size: 0.8rem;
    color: #bdbfd2 !important;
}
.comment  p{
    font-size: 0.6rem;
    color: #71727e;
    line-height: 25px;
}

/* technology */
.tech div{
    width:150px;
    transition: all 0.3s;
    /* box-shadow: 0px 0px 10px rgb(236, 236, 236); */
}

/* Footer */
.bg-footer{
    background-color: #3f4c6c;
}
.footer h3{
font-size:1rem;
border-bottom: 1px solid #4a5777;
color:#d5dceb ;
}
.footer .nav-item a {
    color: #d5dceb!important;
    font-size: 0.8rem;
}
.footer .nav-item a:hover{
    background-color:#3a4562 ;
}
.footer li {
    border: none !important;
}
.footer li:hover {
    border: none !important;
}
.footercourse{
    border-bottom: 1px solid #4a5777;
    cursor: pointer;
}
.footercourse div{
    width: 50px;
    height: 50px;
}
.footercourse h5{
    font-size: 0.6rem;
    color: #c7cfe2;
}
.footercourse h4 , .contact h5 , .contact h4{
    font-size: 0.8rem;
    color: #c7cfe2;
}
.trust img{
    width: 100px;
}
.footer p{
    font-size: 0.7rem;
    line-height: 20px;
    color: #c7cfe2;
}
.footer > div:nth-child(2) > div:nth-child(2){
    border-top: 1px solid #4a5777;
}
.follow{
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background-color: #ffffff;
    cursor: pointer;
}
.follow:hover img{
    transform: scale(1.2);
}

.follow img{
    width: 13px;
    transition: all 0.3s;
}
.footer .input-group{
    direction: ltr;
    border: 1px solid #e7edfa;
    background-color: #fff;
    border-radius: 5px;
}
.footer .input-group > span > h5{
    color: #a6abc8;
    border-left:1px solid #e7edfa ;
    font-size: 0.7rem;
}
.footer .form-control{
    border: 0px !important;
    font-size: 0.7rem;
    color: #d5d8e5;

}
.footer .input-group-text {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}
.footer .input-group-text > img{
    width: 13px;
}
.bg-end{
    background-color: #323e58;
}
.bg-end h6{
    font-size: 0.7rem;
}
.userInfo h3{
    font-size: 1rem !important;
    color: #9f9f9f !important;
}
